.logo {
  display: flex;
  align-items: center;
  margin-bottom: system-spacing(xl);
  &__img {
    width: 40px;
    margin-right: system-spacing(xs);
  }
  &__text {
    font-size: system-font-size(lg);
    font-weight: 700;
  }
}