<!-- Trigger/Open The Modal -->
<button id="add_btn" class="add__btn">
  <i class="fas fa-plus"></i>
</button>

<!-- The Modal -->
<div id="add_modal" class="add__modal">
  <!-- Modal content -->
  <div class="add__modal_body">
    <i class="add__modal_close fas fa-times"></i>
    <%= render "links/form" %>
  </div>
</div>