<%= link_to link.link, class: "link" do %>
  <div class="link__icon"></div>
  <div class="link__text"><%= link %></div>
  <% if link.count %>
    <div class="link__count"><%= link.count %></div>
  <% end %>
<% end %>