.link {
  display: flex;
  align-items: center;
  margin: system-spacing() 0;
  &__icon {
    height: 28px;
    width: 28px;
    background: #000;
    border-radius: system-border(radius);
    margin-right: system-spacing(sm);
  }
  &__text {
    line-height: 1;
    flex: 1;
    color: #97a3b4;
  }
  &__count {

  }
  &:nth-child(5n+1) {
    .link__icon {
      background: #576fd3;
    }
  }
  &:nth-child(5n+2) {
   .link__icon {
      background: #70729f;
    }
  }
  &:nth-child(5n+3) {
    .link__icon {
      background: #8c6fd6;
    }
  }
  &:nth-child(5n+4) {
    .link__icon {
      background: #eb9e6c;
    }
  }
  &:nth-child(5n+5) {
    .link__icon {
      background: #64d4c8;
    }
  }
  &:hover {
    text-decoration: none;
  }
  &__new {
    margin-top: system-spacing(xl);
    .link__icon {
      background: #fff !important;
    }
  }
}